/* Container do slider */
.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Estilo para cada slide */
.slide {
  position: relative;
  flex: 0 0 100%;
  overflow: hidden;
  border: 5px solid; /* Ajuste conforme necessário */
}

/* Imagem dentro do slide */
.slideImage {
  width: 100%;
  height: auto;
  display: block;
}

/* Sobreposição de conteúdo (título, subtítulo e links) */
.overlay {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  width: calc(100% - 20px);
}

/* Título do slide */
.title {
  font-size: 1.5rem;
  margin: 0;
}

/* Subtítulo do slide */
.subtitle {
  font-size: 1rem;
  margin: 5px 0;
}

/* Links dentro do slide */
.links {
  margin-top: 10px;
}

.link {
  color: white;
  text-decoration: none;
  margin-right: 10px;
}

.link:hover {
  text-decoration: underline;
}

/* Botões de navegação */
.prevBtn,
.nextBtn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prevBtn {
  left: 10px;
}

.nextBtn {
  right: 10px;
}

.prevBtn:hover,
.nextBtn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Estilos para telas pequenas */
@media (min-width: 320px) and (max-width: 768px) {
  .projects {
    position: relative;
    width: 90vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .projects h2 {
    font-size: 2rem;
    text-align: center;
  }
  .slide {
    min-width: 100%;
    height: 400px;
  }
}

/* Estilos para telas maiores */
@media (min-width: 769px) {
  .projects {
    position: relative;
    width: 95vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .projects h2 {
    font-size: 3rem;
    text-align: center;
  }
  .slide {
    min-width: 100%;
    height: 700px;
  }
}
