@media (min-width: 320px) and (max-width: 480px) {
}
@media (min-width: 481px) and (max-width: 768px) {
}
@media (min-width: 769px) and (max-width: 1200px) {
}
@media (min-width: 1201px) {
  .container_card {
    width: 210px;
    height: 300px;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .container_card h3 {
    color: #e53939;
    font-size: 1.8rem;
    width: 90%;
    text-align: center;
  }
  .cardButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .cardButtons a {
    background-color: #e53939;
    width: 130px;
    height: 40px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    border-radius: 4px;
  }
}
