@media (min-width: 320px) and (max-width: 480px) {
  .container_menu {
    border: solid 1px #fff;
    width: 100vw;
    height: 60px;
    position: fixed;
    display: flex;
    top: 0;
  }
  .icon {
    border: solid 1px #fff;
    width: 100px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
}
@media (min-width: 769px) and (max-width: 1200px) {
}
@media (min-width: 1201px) {
}
