@media (min-width: 320px) and (max-width: 480px) {
  .additional_information {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: left;
    text-align: center;
  }
  .additional_information h2 {
    font-size: 1.5rem;
  }
  .additional_information h3 {
    font-size: 1.1rem;
  }
  .additional_information p {
    font-size: 0.9rem;
  }
  .additional_information button {
    width: 100px;
    height: 40px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .additional_information {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: left;
    text-align: center;
  }
  .additional_information h2 {
    font-size: 1.7rem;
  }
  .additional_information h3 {
    font-size: 1.2rem;
  }
  .additional_information p {
    font-size: 1rem;
  }
  .additional_information button {
    width: 100px;
    height: 40px;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .additional_information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: left;
    text-align: center;
  }
  .additional_information h2 {
    font-size: 1.8rem;
  }
  .additional_information h3 {
    font-size: 1.3rem;
  }
  .additional_information p {
    font-size: 1.2rem;
  }
  .additional_information button {
    width: 110px;
    height: 40px;
  }
}
@media (min-width: 1201px) {
  .additional_information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: left;
  }
  .additional_information h2 {
    font-size: 2.2rem;
  }
  .additional_information h3 {
    font-size: 1.7rem;
  }
  .additional_information p {
    font-size: 1.4rem;
  }
  .additional_information button {
    width: 140px;
    height: 40px;
  }
}
